<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qa.daemoon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/chakanshuju"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chakanshuju"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoDisplay"
        android:name="com.qa.daemoon.MyApplication"
        >

        <activity android:name="com.qa.daemoon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.qa.daemoon.MyService" >
            <intent-filter>
                <action android:name="com.qa.daemoon.MyService"/>
            </intent-filter>
        </service>
    </application>


</manifest>